#events {
    .banner-events{
        background-image: url(https://technext.github.io/one-music/img/bg-img/breadcumb3.jpg) ;
        position: relative;
        width: 100%;
        height: 385px;
        background-size:cover;
        background-position-y: center; 
    
    }
    .box-text-events{
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #fff;
        width: 500px;
        bottom: 0;
        left: 50%;
        text-align: center;
        margin: 0px;
        transform: translateX(-50%);
        justify-content: center;
        
    }
    .p-events{
        color: #5f5f5f ;
        line-height: 1.5;
        font-size: 16px; 
        margin-block-start: 30px;

    }
    .h2-events{
    font-size: 30px;
    letter-spacing: 10px;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 0;
    }

    .box-container-events {
        display: flex;
        flex-wrap: wrap;
        margin: 29px;
        justify-content: center;
        margin-block-start: 80px;
    }

    .box-container-events {
        display: flex;
        flex-wrap: wrap;
        bottom: 0;
        text-align: center;
        margin: 25px;
       margin-block-start: 80px;
    }

        
    img{
        display: flex;
        flex-wrap: wrap;
        width: 350px;
    }



    .box-images-events
        {
        display: flex;
        flex-direction: column;
        margin: 0px;
        background-color: #0f0f0f;
        text-align: center;
        position: relative;
        z-index: 1;
        padding: 30px 15px;
        transition-duration: 10s;
        transition: left 1.5s ease 0.2s,
        background-color 1s ease-in-out, 
        border-radius 1s ease-in 0.5s; 
        } 
        .box-text-1
            {
            width: 60%;
            margin: auto;
            color: white;   
            }
    
    .box-images-events .box-text-1 :hover 
     { 
    color:black; 
    background-color: white; 
    }   
    
}